/* 
    Document   : styles.css
    Created on : 24 sept. 2013, 14:01:00
    Author     : JG
    Description: CSS de démo pour Nolark
*/
 @font-face { font-family: Sansumi; src: url('polices/Sansumi-Regular.ttf'); } 


html {
    background-color: #080808;
}
h1 {
    color: red;
    text-align: center !important;
    font-family: Sansumi;

}

header, nav, section, footer {
    margin: 0 auto 0 auto;
    width: 950px;
    text-align: center;
}

header {
    height: 200px;
    background: url('images/test.gif') no-repeat scroll center 0;
}

nav {
    margin-top: 178px;
    width: 99%;
    float: left;
}

nav li {
    display:inline;
    font-size: 150%;
}

nav li a {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Sansumi;
}

nav li a:hover {
    color: Red;
    padding: 12px;

}

#principal {
    height: 350px;
    color: white;
}

#principal article {
    padding-top: 10px;
    width: 72%;
    height: 100%;
    text-align: justify;
    float: left;
}

#principal article img {
    float: left;
}

#principal aside {
    margin-top: 0;
    background: transparent url('images/TOPVENTES.GIF') no-repeat 0 0;
    vertical-align: top;
    width: 27%;
    float: right;
    height: 100%;
}

#principal aside img:first-child{
    margin-top: 100px;
}

#principal aside img {
    margin-left:auto;
    margin-right:auto;
    clear: both;
}

#principal aside p {
    margin-top: 0;
}

#sectionthema {
    margin: 50px auto 200px auto;
    height: 150px;
}

#sectionthema article {
    width: 33%;
    height: 256px;
}

@font-face{ 
    font-family: "Fuse";
    src: url('polices/FUSENORM.TTF') format("truetype");
}

#sectionthema a {
    font-family: Sansumi;

    font-size: xx-large;
    font-weight:400;
    margin-top: 0;
    display:block;
    width:100%;
    height:100%;
    color: white;
    text-decoration: none;
}

#sectionthema p {
    margin-top: 0;    
}

#sectionthema #gauche:hover, #sectionthema #milieu:hover, #sectionthema #droite:hover {
    border-radius: 10px;
    -webkit-transform:scale(1.3);
transform:scale(1.3);
}



#sectionthema #gauche {
    overflow:hidden;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    float:left;
    width: 33%;
    background: transparent url('images/casqueroute.png') no-repeat center 10px;
}

#sectionthema #milieu {
    overflow:hidden;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    float: left;
    width: 32%;
    margin-left: 5px;
    background: transparent url('images/casquecross.png') no-repeat center 0;
}

#sectionthema #droite {
    overflow:hidden;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    float:right;
    width: 33%;
    background: transparent url('images/casquepiste.png') no-repeat center 10px;
}

#vide {
    clear: both;
    height: 25px;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background-color:#2d2d2d; 
    color: white;
    text-align:center;
}

footer p{
    margin-top: 3px;
    color: #bbb;
}

footer a{
    color: #bbb;
}




@media all and (min-width: 768px) and (max-width: 1080px) {
header { width: auto; margin: 0; height: 160px;}
    nav { margin-top: 0;}
    nav ul { margin-left: 0; margin-top: 160px; padding-left: 0;}
    nav li a { display: inline; margin-top: 1px; height: 25px; padding: 1px;}
    #principal { width: auto; height: auto; display: inline-block;}
    #principal article {  height: 0px; float: left; }
    #principal aside {}
    #sectionthema { height: auto; margin: 0 auto 0 auto; width: 100%; }
    #sectionthema a {
        margin-top: 250px;
    }
    #sectionthema article { height: auto;}
    #sectionthema #gauche,#sectionthema #milieu,#sectionthema #droite {width: 30%; float: left;} 
}

@media all and (min-width: 480px) and (max-width: 768px) {
header { background-image: none; width: auto; margin: 0; height: 160px;}
    nav { margin-top: -160px;}
    nav ul { margin-left: 0; margin-top: 160px; padding-left: 0;}
    nav li a { display: block; margin-top: 1px; height: 25px; padding: 1px;}
    #principal { width: auto; height: auto;}
    #principal article { width: auto; height: 100%; float: none; }
    #principal aside { display: none;}
    #sectionthema { height: auto; margin: 0 auto 0 auto; width: 100%; }
    #sectionthema article { height: auto;}
    #sectionthema #gauche,#sectionthema #milieu,#sectionthema #droite {background-image: none; width: 30%; float: left;} 
}



@media all and (max-width: 480px) { 
    header { background-image: none; width: auto; margin: 0; height: 160px;}
    nav { margin-top: 0;}
    nav ul { margin-left: 0; margin-top: 0; padding-left: 0;}
    nav li a { display: block; margin-top: 1px; height: 25px; padding: 1px;}
    #principal { width: auto; height: auto;}
    #principal article { width: auto; height: 100%; float: none; }
    #principal aside { display: none;}
    #sectionthema { height: auto; margin: 0 auto 0 auto; width: 100%; }
    #sectionthema article { height: auto;}
    #sectionthema #gauche,#sectionthema #milieu,#sectionthema #droite {background-image: none; width: 30%; float: left;}

}